<tbody>
  <tr>
    <td>{{id}}</td>
    <td>{{id_sale}}</td>
    <td>{{value}}</td>
    <td>{{date}}</td>
    <td>{{payment_description}}</td>

    <td>
      <!-- <li class="list-inline-item">
        <a
          href="/pagamento/{{id}}/edit"
          class="btn btn-success btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="EditAR"
          ><i class="fa fa-edit"></i
        ></a>
      </li> -->
      <li class="list-inline-item">
        <a
          href="/pagamento/{{id}}/delete"
          class="btn btn-danger btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
          ><i class="fa fa-trash"></i
        ></a>
      </li>
    </td>
  </tr>
</tbody>
