<html>
  <head>
    <script></script>
  </head>
  <body>
    <div class="container">
      <div class="wrap">
        
    <div class="form-group">
      <label>Cliente</label>
    <datalist class="form-control" id="id_costumer" name="id_costumer"><option value="1">Isabela</option><option value="10">Carla carla</option><option value="11">jessicaaa</option></datalist></select>
    </div>
        <a href="#" class="add" id="add">a</a>
      </div>
      <div id="inp-group" class="inp-group"></div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
