<tbody>
  <tr>
    <td>{{id}}</td>
    <td>{{costumer_name}}</td>
    <td>{{products}}</td>
    <td>{{payment_method}}</td>
    <td>{{status}}</td>
    <td>{{date}}</td>
    <td>{{total_amount}}</td>
    <td>{{left_for_pay}}</td>

    <td>
      <li class="list-inline-item">
         <a
           href="/cadastrarPagamento?id_sale={{id}}"
          class="btn btn-warning btn-sm rounded-0"
           type="button"
           data-toggle="tooltip"
           data-placement="top"
           title="Adicionar pagamento">
           <i class="fas fa-cash-register"></i>       
           </a>
       </li>
      <li class="list-inline-item">
        <a
          href="/venda/{{id}}/edit"
          class="btn btn-success btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="EditAR"
          ><i class="fa fa-edit"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="/venda/{{id}}/delete"
          class="btn btn-danger btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
          ><i class="fa fa-trash"></i
        ></a>
      </li>
    </td>
  </tr>
</tbody>
