<tbody>
  <tr>
    <td>{{id}}</td>
    <td>{{description}}</td>
    <td>{{brand}}</td>
    <td>{{type}}</td>
    <td>{{size}}</td>
    <td>{{color}}</td>
    <td>{{price}}</td>
    <td>{{quantity}}</td>

    <td>
      <li class="list-inline-item">
        <a
          href="/produto/{{id}}/edit"
          class="btn btn-success btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="EditAR"
          ><i class="fa fa-edit"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          href="/produto/{{id}}/delete"
          class="btn btn-danger btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
          ><i class="fa fa-trash"></i
        ></a>
      </li>
    </td>
  </tr>
</tbody>
