<tbody>
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{CPF}}</td>
    <td>{{RG}}</td>
    <td>{{civil_state}}</td>
    <td>{{birthday}}</td>
    <td>{{spouse}}</td>
    <td>{{filiation}}</td>
    <td>{{address}}</td>
    <td>{{cell}}</td>

    <td>
      <li class="list-inline-item">
        <a
          class="btn btn-success btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Edit"
          ><i class="fa fa-edit"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a
          class="btn btn-danger btn-sm rounded-0"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
          ><i class="fa fa-trash"></i
        ></a>
      </li>
    </td>
  </tr>
</tbody>
