
<h1 class="h3 mb-2 text-gray-800">Clientes</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="btn btn-success" href="/cadastrarCliente" role="button">Cadastrar novo cliente</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table  class="table " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>RG</th>
                        <th>Estado civil</th>
                        <th>Data de nascimento</th>
                        <th>Cônjuge</th>
                        <th>Filiação</th>
                        <th>Endereço</th>
                        <th>Contato</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
                {{items}}
             
            </table>
            {{pagination}}

        </div>
    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>