<script type="text/javascript">
  function load() {
    document.getElementById('birthday').value = '{{birthday}}'
    document.getElementById('civil_state').value = '{{civil_state}}'
    if ('{{readonly}}' == 'true') {
      document.getElementById('cpf').readOnly = true
      document.getElementById('rg').readOnly = true
    }
  }
  window.onload = load
</script>

<form method="post">
  <h3>{{option}}</h3>
  
  {{status}}

  <div class="form-group">
    <label>Nome</label>
    <input
      type="text"
      class="form-control"
      name="name"
      value="{{costumer_name}}"
      required
    />
  </div>
  <div class="form-group">
    <label>CPF (Apenas números)</label>
    <input
      id="cpf"
      type="text"
      class="form-control"
      name="cpf"
      value="{{cpf}}"
      required
    />
  </div>
  <div class="form-group">
    <label>RG (Apenas números) </label>
    <input
      id="rg"
      type="text"
      class="form-control"
      name="rg"
      value="{{rg}}"
      required
    />
  </div>
  <div class="form-group">
    <label>Estado civil</label>
    <select class="form-control" id="civil_state" name="estado_civil">
      <option name="Casada(o)">Casada(o)</option>
      <option name="Solteira(o)" selected>Solteira(o)</option>
    </select>
  </div>

  <div class="form-group" id="nameFoo" style="display: none">
    <label>Cônjuge</label>
    <input type="text" class="form-control" name="spouse" value="{{spouse}}" />
  </div>
  <div class="form-group" id="filiacao">
    <label>Filiação</label>
    <input
      type="text"
      class="form-control"
      name="filiation"
      value="{{filiation}}"
    />
  </div>

  <div class="form-group">
    <label>Data de nascimento</label>
    <input
      id="birthday"
      type="date"
      class="form-control"
      name="birthday"
      required
    />
  </div>

  <div class="form-group">
    <label>Telefone para contato</label>
    <input
      type="text"
      class="form-control"
      name="cellphone_number"
      value="{{cellphone_number}}"
      required
    />
  </div>

  <div class="form-group">
    <label>Endereço</label>
    <input
      type="text"
      class="form-control"
      name="address"
      value="{{address}}"
    />
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>
